@page "/"

<h1>WASM Blazor interface for Monica</h1>
Using ZeroMQ for Producer-Consumer
<br />


<div class="alert-info">Ver 0.9 - WASM</div>
<p>
    <h2>Road Map</h2>
    <ul>
        <li>Monica Parameters uploadable by user</li>
        <li>Chart Loading problem for chart selection page</li>
        <li>Chart Selection bugs must be fixed</li>
        <li>Add Help</li>
        <li>Capnp version of Blazor to send and recieve data</li>
        <li>Optimise interface</li>
    </ul>
</p>
